/* ================== COMMON ================== */
body {
    background-color: E5E5E5;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
	display: block;
    max-width: 100%;
}

button {
    color: currentColor;
}

/* for classes */
.section {
    margin-top: 100px;
}
/* ================== /COMMON ================== */

/* ================== CONTAINER ================== */
.container {
    padding-right: 25px;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* Desktop */
@media screen and (min-width: 1158px) {
    .container {
        width: 1350px;
    }
}
/* ================== /CONTAINER ================== */

/* ================== HERO ================== */
.hero-section {
    display: flex;
}

.hero-container {
    display: flex;
}

.hero-text-container {
    margin-top: 50px;
    margin-right: 120px;

    width: 526px;
}

.hero-title-container {
    display: flex;

    margin-bottom: 40px;
}

.hero-title {
    margin-right: 38px;

    font-size: 64px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0;
    color: #000000;
}

.hero-title-icon {
    position: relative;
    top: 98px;

    width: 86px;
    height: 86px;
}

.hero-description {
    margin-bottom: 60px;

    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8F95A5;
}

.hero-btn {
    width: 438px;
    height: 118px;

    border: none;
    border-radius: 15px;

    background-color: #263238;

    font-size: 36px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #FFFFFF;
}

.hero-img {
    width: 660px;
    height: 660px;
}
/* ================== /HERO ================== */

/* ================== ABOUT ================== */
.about-container {
    display: flex;
}

.about-content {
    margin-right: 194px;
}

.about-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0;
    color: #000000;
}

.about-description {
    width: 636px;

    margin-top: 24px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8F95A5;
}

.about-statistic {
    display: flex;

    margin-top: 42px;
}

.about-statistic-item {
    text-align: center;
}

.about-statistic-item:first-child {
    margin-right: 136px;
}

.about-statistic-item:nth-child(2) {
    margin-right: 80px;
}

.about-statistic-item:not(:last-child) {
    width: 100px;
}

.about-statistic-item:last-child {
    width: 220px;
}

.about-statistic-number {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0;
    color: #2A3246;
}

.about-statistic-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8F95A5;
}
/* ================== /ABOUT ================== */

/* ================== CONTACT US ================== */
.contact-container {
    display: flex;
}

.contact-img {
    margin-right: 112px;
}

.contact-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0;
    color: #000000;
}

.contact-description {
    width: 776px;

    margin-top: 24px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8F95A5;
}

.contact-form {
    margin-top: 52px;
}

.contact-form-input {
    width: 450px;
    height: 80px;

    margin-right: 12px;

    padding: 26px 0 30px 34px;

    border: 1px solid #8F95A5;
    border-radius: 10px;
}

.contact-form-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #8F95A5;
}

.contact-form-btn {
    width: 264px;
    height: 80px;

    border: none;
    border-radius: 10px;
    background-color: #263238;

    color: #FFFFFF;
}
/* ================== /CONTACT US ================== */